* {
	font-family: Arial;
}

h1 {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
}

.files {
	width: 100%;
	font-size: 2vmin;
}

.files tr td {
	text-align: center;
}

.files tr th {
	cursor: pointer;
}

.file-row {
	cursor: pointer;
}

.icon {
	width: 32px;
	height: 32px;
}

.active {
	background: #d3d3d3;
}

.controls-hidden {
	visibility: hidden;
}

.controls-shown {
	visibility: visible;
}