* {
	font-family: Arial;
}

h1 {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
}

.files {
	width: 100%;
	font-size: 2vmin;
	border-collapse: collapse;
}

.files thead th {
	margin: 20px;
}

.files tr td {
	text-align: center;
}

.files tr th {
	cursor: pointer;
}

.control {
	cursor: pointer;
	font-size: 3vmin;
}

.icon {
	width: 32px;
	height: 32px;
}

.active {
	border-bottom: 3px solid #000000;
}
